a{
	text-decoration:none !important;
} 
body{
	background-color:#E5E5E5;
	font-family: Microsoft Yahei;
	width：100%；
	overflow:scroll;
}
.container{
	width: 1080px;
}
.container-fluid{
	min-width: 821px;
}
.header-color{
	background-color: #ea5504;
}
.header{
	position: fixed;
	top:0px;
	height: 80px;
	width: 100%;
	min-width: 500px;
}
.user{
	float: right;
	margin-top:28px;
	margin-right:8.5%;
	color: white;
}
.user i{
	zoom: 1.4;
}
.user a{
	color: white;
}
.logo-img{
	margin-left: 10%;
	margin-top:17px;
}
.content-main{
	margin-top: 125px;
}
.font-black a{
	color: black;
}
.height45{
	height: 45px;
}
.height332{
	height: 332px;
}
.height79{
	height: 79px;
	line-height: 79px;
}
.margin-bottom-0{
	margin-bottom: 0px;
}
.li-margin-top-5 li{
	margin-top:5px;
}
.backg-white{
	background-color: #FFFFFF;
	
}
.backg-orange{
	background-color: #EA5504;
}
.backg-black{
	background-color: #000000 !important;
}
.backg-trans{
	background-color: transparent;
}
.color-white{
	color: #FFFFFF;
}
.color-orange{
	color: #EA5504 !important;
}
.notice-padding{
	padding: 7px 25px;
}
.header-main{
	margin-top: 15px;
	background-color: #FFFFFF;
	height: 32px;
	min-width: 400px;
}
.margin-top-10{
	margin-top: 10px;
}
.margin-top-15{
	margin-top: 15px;
}
#refresh{
	background:url(../img/refresh.png);
	width:22px;
	height: 22px;
	border:0px;
}
#more{
	border:0px;
	color: #FFFFFF;
	width: 90px;
	height: 30px;
}
.padding-left-15{
	padding-left:15px;
}
.padding-right-10{
	padding-right:10px;
}
.margin-left-15{
	margin-left: 15px;
}
.margin-right-15{
	margin-right: 15px;
}
.bottomline{
	border-bottom: 1px #c3c3c3 solid;
}
.block{
	display: inline-block;
}
.padding-10-0{
	padding: 10px 0px;
}
.padding-10-20{
	padding: 10px 20px;
}
.padding-10-15{
	padding: 10px 20px;
}
.padding-14-26{
	padding: 14px 0px 14px 26px;
}
.padding-0-10{
	padding: 0px 10px;
}
.lineheight73{
	line-height:73px;
}
/*.baoliyun1{
	width:166px; 
	height:56px;
	display:block; 
	background:url(../img/baoliyun.png) no-repeat;
}
.baoliyun{
	width:166px; 
	height:56px;
	display:block; 
	background:url(../img/baoliyun1.png) no-repeat;
}
#baoliyun:active{
	background:url(../img/baoliyun.png) no-repeat;
}

.zulin1{
	width:167px; 
	height:56px;
	display:block; 
	background:url(../img/zulin.png) no-repeat;
}
.zulin{
	width:167px; 
	height:56px;
	display:block; 
	background:url(../img/zulin1.png) no-repeat;
}
#zulin:active{
	background:url(../img/zulin.png) no-repeat;
}
.ziguan1{
	width:167px; 
	height:56px;
	display:block; 
	background:url(../img/ziguan.png) no-repeat;
}
.ziguan{
	width:167px; 
	height:56px;
	display:block; 
	background:url(../img/ziguan1.png) no-repeat;
}
#ziguan:active{
	background:url(../img/ziguan.png) no-repeat;
}
.yunpiao1{
	width:167px; 
	height:56px;
	display:block; 
	background:url(../img/yunpiao.png) no-repeat;
}
.yunpiao{
	width:167px; 
	height:56px;
	display:block; 
	background:url(../img/yunpiao1.png) no-repeat;
}
#yunpiao:active{
	background:url(../img/yunpiao.png) no-repeat;
}
.jiaoyi1{
	width:167px; 
	height:56px;
	display:block; 
	background:url(../img/jiaoyi.png) no-repeat;
}
.jiaoyi{
	width:167px; 
	height:56px;
	display:block; 
	background:url(../img/jiaoyi1.png) no-repeat;
}
#jiaoyi:active{
	background:url(../img/jiaoyi.png) no-repeat;
}*/
.border-orange{
	border: 1px solid #EA5504 !important;	
}
.border-blue{
	border: 1px solid #438dc9;	
}
.border-green{
	border: 1px solid #83d142;	
}
.border-blue-green{
	border: 1px solid #18cfd6;	
}
.border-blue-red{
	border: 1px solid #e85b09;	
}
.border-blue-grey{
	border: 1px solid #959595;	
}
.border-white{
	border: 1px solid #FFFFFF;	
}
.border-bottom-grey{
	border-bottom: 2px solid #cecece;	
}
.bor-bottom-white{
	border-bottom: 1px solid #FFFFFF;
}
.div-hover:hover{
	border-bottom: 2px solid #e95603;
}
.div-hover-3{
	border-bottom: 3px solid #959595;
}
.div-hover-3:hover{
	border-bottom: 3px solid #e95603;
}
.remove-border-bottom{
	border-bottom-color: transparent;
}
.panel-footer div div span a {
	color:#686868;
}
.background-title{
	font-size: 18px;
	font-family: "Microsoft YaHei";	
}
.span-height{
	line-height:30px;
}
.right-sign{
	background-color: #E95603;width: 100%;padding: 10px;font-size: 12px;
}
.h-normal{
	font-weight:normal;
}
.div-height-32{
	height: 32px;
}
.weight-auto{
	width: inherit;
}
.dropdown-menu{
	min-width: 80px;
	margin-left: -19px;	
}
.dropdown-menu > li > a:hover{
	background-color: #ea5504 !important;
	background-image: -moz-linear-gradient(top, #ea5504, #ea5504);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ea5504), to(#ea5504));
    background-image: -webkit-linear-gradient(top, #ea5504, #ea5504);
    background-image: -o-linear-gradient(top, #ea5504, #ea5504);
    background-image: linear-gradient(to bottom, #ea5504, #ea5504);
    background-repeat: repeat-x;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea5504', endColorstr='#ea5504', GradientType=0);
}
.dropdown-title{
	padding-left: 15px;
	padding-right: 10px;
    margin-left: 0px;
}
.width-ie-25{
	width: 25%\9;
}
.width-ie-25 a{
	display: block\9;
}
.width-ie-25 span{
	display: block\9;
}
.width-ie-25 img{
	display: block\9;
}